<!--
            Copyright (c) Marco Amorim 2015.
 Distributed under the Boost Software License, Version 1.0.
    (See accompanying file LICENSE_1_0.txt or copy at
          http://www.boost.org/LICENSE_1_0.txt)
-->
<proxy-settings>
    <thread-pool>
        <size>16</size>
    </thread-pool>
    <log-settings>
        <severity>trace</severity>
        <file-name>log_settings.txt</file-name>
    </log-settings>
    <proxies>
    <proxy>
        <name>my_ssh</name>
        <shost>0.0.0.0</shost>
        <sport>2222</sport>
        <dhost>localhost</dhost>
        <dport>ssh</dport>
        <buffer-size>8192</buffer-size>
        <enable-hexdump>1</enable-hexdump>
        <client-delay>0</client-delay>
        <server-delay>0</server-delay>
    </proxy>
    <proxy>
        <name>http</name>
        <shost>localhost</shost>
        <sport>http-alt</sport>
        <dhost>localhost</dhost>
        <dport>http</dport>
        <buffer-size>4096</buffer-size>
        <enable-hexdump>1</enable-hexdump>
        <client-delay>0</client-delay>
        <server-delay>0</server-delay>
    </proxy>
    </proxy-list>
</proxy-settings>
