<!--
            Copyright (c) Marco Amorim 2015.
 Distributed under the Boost Software License, Version 1.0.
    (See accompanying file LICENSE_1_0.txt or copy at
          http://www.boost.org/LICENSE_1_0.txt)
-->
<proxy-settings>
    <thread-pool>
        <size>1</size>
    </thread-pool>
    <logging>
        <severity>debug</severity>
        <file-name></file-name>
    </logging>
    <proxies>
        <proxy>
            <name>ssh</name>
            <active>1</active>
            <shost>0.0.0.0</shost>
            <sport>2222</sport>
            <dhost>localhost</dhost>
            <dport>ssh</dport>
            <buffer-size>8192</buffer-size>
            <client-delay>0</client-delay>
            <server-delay>0</server-delay>
        </proxy>
        <proxy>
            <name>squid</name>
            <active>1</active>
            <shost>localhost</shost>
            <sport>http-alt</sport>
            <dhost>localhost</dhost>
            <dport>3128</dport>
            <buffer-size>4096</buffer-size>
            <message-dump>hex</message-dump>
            <client-delay>0</client-delay>
            <server-delay>0</server-delay>
        </proxy>
    </proxies>
</proxy-settings>
